body {
  font-family: Arial;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

/* Overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.5);
}

/* Modal */

.modal {
  position: fixed;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  transform: scale(0.7);
  transition: all 0.3s ease;
}

/* Hidden Class */

.hidden {
  display: none;
}

/* Animation when active */

.modal.active {
  transform: scale(1);
}
