body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 50px;
}

.accordion {
  max-width: 500px;
  margin: auto;
}

.item {
  background: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.title {
  width: 100%;
  padding: 15px;
  border: none;
  background: #333;
  color: #fff;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
}

.content {
  padding: 0 15px;
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}

.item.active .content {
  padding: 15px;
  max-height: 150px;
  /* display: block; */
}
