body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111;
  padding: 50px;
}

.slider {
  position: relative;
  width: 600px;
  overflow: hidden;
}

.slide {
  width: 100%;
  display: none;
  border-radius: 10px;
}

.slide.active {
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  background: rgba(0,0,0,.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background: gray;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.dot.active {
  background: white;
}
